.logo{
    display:block;
    margin:auto;
    width: 50px;
    height: 50px;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgb(255,255,255),grey);
}
.container{
    max-width:955px;
    margin:auto;
    height: 60vh;
    border: 2px solid black;
    border-radius: 10px;
    padding: 33px;
    overflow-y: auto; /*  when the more messages goto the down */
    margin-bottom: 23px;
}
.message{
 background-color: rgb(232, 228, 228);
 font-weight: bold;
 color: black;
width:24%;
padding:10px;
margin:17px 2px;
border: 2px solid black;
border-radius: 10px;;
}
.left{
 float: left;
 clear: both;/* The both means the floating elements is not allowed in left and right*/
}
.right{
    float: right;
    clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
   max-width: 985px;
   width: 100%;
}
#messageInp{
    width: 92%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}
.btn{
    cursor:pointer;
    border: 2px solid  black;
    border-radius: 6px;
    height: 34px;
}